@rendermode InteractiveAuto

<footer class="bg-secondary pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links pb-2 mb-4">
                    <h3 class="widget-title">Shop departments</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Sneakers & Athletic</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Athletic Apparel</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Sandals</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Jeans</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Shirts & Tops</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Shorts</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">T-Shirts</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Swimwear</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Clogs & Mules</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Bags & Wallets</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Accessories</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Sunglasses & Eyewear</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Watches</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links pb-2 mb-4">
                    <h3 class="widget-title">Account & shipping info</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Your account</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Shipping rates & policies</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Refunds & replacements</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Order tracking</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Delivery info</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Taxes & fees</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-links pb-2 mb-4">
                    <h3 class="widget-title">About us</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">About company</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Our team</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">Careers</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">News</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title pb-1">Stay informed</h3>
                    <form class="input-group flex-nowrap">
                        <svg width="18px" height="18px" class="position-absolute top-50 translate-middle-y text-muted fs-base ms-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2" />
                        </svg>
                        <input class="form-control rounded-start" type="email" placeholder="Your email" required>
                        <button class="btn btn-primary" type="submit">Subscribe*</button>
                    </form>
                    <div class="form-text">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</div>
                </div>
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title pb-1">Download our app</h3>
                    <div class="d-flex flex-wrap">
                        <div class="me-2 mb-2">
                            <a class="btn-market btn-apple" href="#" role="button">
                                <span class="btn-market-subtitle">Download on the</span>
                                <span class="btn-market-title">App Store</span>
                            </a>
                        </div>
                        <div class="mb-2">
                            <a class="btn-market btn-google" href="#" role="button">
                                <span class="btn-market-subtitle">Download on the</span>
                                <span class="btn-market-title">Google Play</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5" style="background-color: #ecf2f7;">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="bi bi-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base mb-1">Fast and free delivery</h6>
                            <p class="mb-0 fs-ms text-muted">Free delivery for all orders over $200</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="bi bi-cash-coin text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base mb-1">Money back guarantee</h6>
                            <p class="mb-0 fs-ms text-muted">We return money within 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="bi bi-life-preserver text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base mb-1">24/7 customer support</h6>
                            <p class="mb-0 fs-ms text-muted">Friendly 24/7 customer support</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="bi bi-person-lock text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base mb-1">Secure online payment</h6>
                            <p class="mb-0 fs-ms text-muted">We possess SSL / Secure сertificate</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-5">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-start mb-4">
                    <div class="text-nowrap mb-4">
                        <a class="h2 d-inline-block align-middle mt-n1 me-3" href="#">
                            Shopzilla
                        </a>
                    </div>
                    <div class="widget widget-links">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                            <li class="widget-list-item me-4">
                                <a href="#" class="widget-list-link">Outlets</a>
                            </li>
                            <li class="widget-list-item me-4">
                                <a href="#" class="widget-list-link">Affiliates</a>
                            </li>
                            <li class="widget-list-item me-4">
                                <a href="#" class="widget-list-link">Support</a>
                            </li>
                            <li class="widget-list-item me-4">
                                <a href="#" class="widget-list-link">Privacy</a>
                            </li>
                            <li class="widget-list-itemme-4">
                                <a href="#" class="widget-list-link">Terms of use</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="mb-3">
                        <a class="btn-social bs-outline bs-twitter ms-2 mb-2" href="#"><i class="bi bi-twitter-x"></i></a>
                        <a class="btn-social bs-outline bs-facebook ms-2 mb-2" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="btn-social bs-outline bs-instagram ms-2 mb-2" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="btn-social bs-outline bs-pinterest ms-2 mb-2" href="#"><i class="bi bi-pinterest"></i></a>
                        <a class="btn-social bs-outline bs-youtube ms-2 mb-2" href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                    <img class="d-inline-block" width="187" src="images/cards/cards-alt.png" alt="Payment methods" />
                </div>
            </div>
            <div class="pb-4 fs-xs text-muted text-center text-md-start">© All rights reserved.</div>
        </div>
    </div>
</footer>