<div class="mb-3">
    <label class="form-label" for="su-name">Full name</label>
    <input class="form-control" type="text" id="su-name" placeholder="John Doe" required="">
    <div class="invalid-feedback">Please fill in your name.</div>
</div>
<div class="mb-3">
    <label for="su-email">Email address</label>
    <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required="">
    <div class="invalid-feedback">Please provide a valid email address.</div>
</div>
<div class="mb-3">
    <label class="form-label" for="su-password">Password</label>
    <div class="password-toggle">
        <input class="form-control" type="password" id="su-password" required="">
        <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
        </label>
    </div>
</div>
<div class="mb-3">
    <label class="form-label" for="su-password-confirm">Confirm password</label>
    <div class="password-toggle">
        <input class="form-control" type="password" id="su-password-confirm" required="">
        <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
        </label>
    </div>
</div>
<button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>