<div class="mb-3">
    <label class="form-label" for="si-email">Email address</label>
    <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required="">
    <div class="invalid-feedback">Please provide a valid email address.</div>
</div>
<div class="mb-3">
    <label class="form-label" for="si-password">Password</label>
    <div class="password-toggle">
        <input class="form-control" type="password" id="si-password" required="">
        <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
        </label>
    </div>
</div>
<div class="mb-3 d-flex flex-wrap justify-content-between">
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="si-remember">
        <label class="form-check-label" for="si-remember">Remember me</label>
    </div><a class="fs-sm" href="#">Forgot password?</a>
</div>
<button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>